/* dashboard */
*
{
  /*box-sizing: border-box;*/
}

:root
{
  --main-color:#2B2F55;
  --subMain-color:#09aada;
}
.App
{
  position: relative;
  width: 100%;
  height: 1080px;

  background: #202342;
}

/* Group 132 */
.Noti
{
  position: absolute;
  width: 51px;
  height: 51px;
  left: 1035px;
  top: 28px;
  border:1px solid var(--main-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s;
  
}

.Noti:hover
{
  background-color: var(--subMain-color);
}

.Noti.active > i
{
  color: #fff;
}

/* Rectangle 52 */
.Noti .subNoti
{
  position: absolute;
  width: 350px;
  min-height: 347px;
  left: -134px;
  top: 61px;
  z-index: 2;
  background: #2C3159;
  border: 1px solid #3D447B;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(20, 22, 41, 0.2);
  border-radius: 8px;
  transform: scale3d(0 , 0 , 1);
  visibility: hidden;
  transition: transform 0.5s , visibility 0.5s;
}

.Noti.active .subNoti
{

}

.Noti:hover .subNoti
{
  transform: scale3d(1 , 1 , 1);
  visibility: visible;
}

/* Group 123 */
.Noti .subNoti  .boxMail
{
  /*position: absolute;*/
  width: 288px;
  height: 59px;
  left: 20px;
  /*top: 53px;*/
  padding: 10px;
  border: 1px solid #924e47;
  font-size: 12px;
  color: #9f9d9d;
  display: flex;
  line-height: 1.7
}

.Noti .subNoti  .boxMail:not(:first-of-type)
{
  margin: 10px 20px
}

.Noti .subNoti  .boxMail:first-of-type
{
  margin: 54px 20px 10px 20px;
}

/* Group 122 */
.Noti .subNoti .boxMail .icon
{
  background-color: var(--subMain-color);
  border-radius: 50%;
  border: 3px solid #256072;
  width: 26px;
  display: inline-block;
  height: 26px;
  text-align: center;
  padding: 0px;
  flex: 1;
  margin-right: 5px;
}

.Noti .subNoti .boxMail .icon i 
{
  color: #8a7474;
  margin-top: 7px;
}

.Noti .subNoti .boxMail .boxInfo
{
  flex: 10;
}

/* Transfer link confirmed by mohmadailsia@gmail.com*/
.Noti .subNoti .boxMail .boxInfo .infoMail
{
  color: #fff;
}
.Noti .subNoti .boxMail .boxInfo span i
{
  margin-top: 5px;
  color: #256072;
}

.Noti .subNoti .boxMail .boxInfo .date
{
  display: block;
}

.Noti .subNoti .boxMail:first-of-type
{
  top: 50px
}

.Noti .subNoti .boxMail:nth-of-type(2)
{
  top: 140px;
}

.Noti .subNoti .boxMail:last-of-type
{
  top: 230px;
}

.Noti .subNoti .boxMail:last-of-type .icon i
{
  color: #e5ca4c
}

/* Notifications */
.Noti .subNoti h4
{
  position: absolute;
  width: 94px;
  height: 20px;
  left: 20px;
  top: 0px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
/* Group 86 */
.Name
{
  position: absolute;
  width: 200px;
  height: 48px;
  left: 1115px;
  top: 30px;
  /*background: var(--main-color);*/
  border-radius: 8px;
}

/* Group 112 */
.Filter
{
  position: absolute;
  width: 188px;
  height: 117px;
  left: 56px;
  top: 112px;
  background: var(--main-color);
  border-radius: 8px;
  color: #fff;
}

.Filter .by
{
  display: block;
  margin: 20px 10px 10px 27px;
}
/* Group 39 */
.Filter .d1,
.Filter .m1,
.Filter .y1
{
  position: absolute;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
}

.Filter .d1.active,
.Filter .m1.active,
.Filter .y1.active
{
  background-color: var(--subMain-color);
}

.Filter .d1
{
  left: 25px;
  top: 50px;
}
.Filter .m1
{
  left: 70px;
  top: 50px;
}
.Filter .y1
{
  left: 115px;
  top: 50px;
}

/* Rectangle 45 */
.Checkout,
.Failure
{
  position: absolute;
  width: 292px;
  height: 120px;
  left: 276px;
  top: 112px;
  background: var(--main-color);
  border-radius: 8px;
  display: flex;
}

.Checkout .info,
.Failure .info
{
  flex: 2;
  color: #939393;
}

.Checkout .info .totle,
.Failure .info .totle
{
  display: block;
  margin: 20px 10px 10px 27px;
  color: #fff;
}

.Checkout .info .average,
.Failure .info .average
{
  margin: 20px 0 10px 27px;
  font-size: 25px;
}

.Checkout .info .average
{
  color: #00ff94;
}

.Failure .info .average
{
  color:#fe7448;
}

.Checkout .icon,
.Failure .icon
{
  flex: 1;
}

.Checkout .icon div ,
.Failure .icon div
{
  margin:20px 21px 10px 25px;
  background-color: rgb(34 151 81 / 20%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
}

.Checkout .icon div
{
  background-color: rgb(34 151 81 / 20%);
}

.Failure .icon div
{
  background-color: rgb(254 116 72 / 31%);
}

.Checkout .icon i,
.Failure .icon i
{
  line-height: 75px;
  position: relative;
}

.Checkout .icon i
{
  color: #00ff94;
}

.Failure .icon i
{
  color: #fe7448;
}

.Checkout .icon i:after ,
.Failure .icon i:after
{
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -17px;
  right: 3px;
  font-size: 20px;
}

.Checkout .icon i:after
{
  content: '\f05d';
  color: #00ff94;
}

.Failure .icon i:after
{
  content: '\f05c';
  color: #fe7448;
}

/* Group 96 */
.Failure
{
  position: absolute;
  width: 286px;
  height: 117px;
  left: 595px;
  top: 112px;
  background: var(--main-color);
  border-radius: 8px;
}

/* Group 111 */
.DownComponent
{
  position: absolute;
  width: 825px;
  height: 763px;
  left: 56px;
  top: 269px;
  background: #202342;
  border-radius: 8px;
}

/* Group 77 */
.License
{
  position: absolute;
  width: 385px;
  height: 240px;
  left: 929px;
  top: 112px;
  background: var(--main-color);
  border-radius: 8px;
}

/* Group 73 */
.License .boxKey 
{
  position: absolute;
  width: 407px;
  height: 45px;
  left: 20px;
  top: 75px;
}

/* License key */
.License .boxKey .title-key
{
  position: absolute;
  width: 77px;
  height: 17px;
  left: 0;
  top: -20px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  opacity: 0.6;
}

/* Group 83 */
.License .boxKey .boxIcon
{
  position: absolute;
  width: 407px;
  height: 28px;
  left: 0;
  top: 0;
}

/* xxxx - xxxx - xxxx - xxxx */
.License .boxKey .boxIcon .key
{
  position: absolute;
  width: 240px;
  height: 26px;
  left: 0;
  top: 0;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;

  color: #FFFFFF;
}

/* Group 72 */
.License .boxKey .boxIcon i
{
  position: absolute;
  width: 28px;
  height: 28px;
  right: 60px;
  top: 5px;
  color: var(--subMain-color);
}

/* Group 35 */
.License .box
{
  position: absolute;
  width: 192px;
  height: 30px;
  left: 20px;
  top: 130px;
  background-color: var(--subMain-color);
  padding: 10px;
  border-radius: 6px;
  line-height: 30px;
  color: #fff;
}

.License .box .renew
{
  margin: 0 0 0 10px;
  font-size: 16px;
  display: inline-block;
}
.License .box .stripe 
{
  margin: 0 0 0 43px;
  display: inline-block;
  font-size: 16px;
}

/* Group 36 */
.License .deactive
{
  position: absolute;
  width: 135px;
  height: 48px;
  right: 10px;
  top: 130px;
  background-color: #202342;
  color: #fe7448;
  outline: none;
  border-radius: 6px;
  border: none;
  transition: background-color 0.5s , color 0.5s;
  cursor: pointer;
}

.License .deactive:hover
{
  background-color: #fe7448;
  color: #fff;
}

/* Next Renewal on 22 Mar 2021 */
.License .next
{
  position: absolute;
  width: 164px;
  height: 15px;
  left: 20px;
  top: 190px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

/* Group 75 */
.Discord
{
  position: absolute;
  width: 385px;
  height: 97px;
  left: 929px;
  top: 392px;
  background: var(--main-color);
  border-radius: 8px;
}

/* Group 81 */
.Discord .discordBox
{
  position: absolute;
  width: 96px;
  height: 20px;
  left: 25px;
  top: 20px;
}

/* discord 1 */
.Discord .discordBox i 
{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 5px;
  border-radius: 6px;
  color: var(--subMain-color);
}

/* Discord ID */
.Discord .discordBox .discord_id
{
  position: absolute;
  width: 68px;
  height: 17px;
  right: 0;
  top: 5px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* antony#2142 */
.Discord .name 
{
  position: absolute;
  width: 105px;
  height: 21px;
  left: 25px;
  top: 45px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

/* Group 36 */
.Discord .unbind
{
  position: absolute;
  width: 135px;
  height: 48px;
  right: 15px;
  top: 27px;
  background-color: #202342;
  color: #fe7448;
  outline: none;
  border-radius: 6px;
  border: none;
  transition: background-color 0.5s , color 0.5s;
  cursor: pointer;
}

.Discord .unbind:hover
{
  background-color: #fe7448;
  color: #fff;
}

/* Group 74 */
.Transfer
{
  position: absolute;
  width: 385px;
  height: 132px;
  left: 929px;
  top: 529px;
  background: var(--main-color);
  border-radius: 8px;
}

.Transfer .TransferBox
{
  position: absolute;
  width: 96px;
  height: 20px;
  left: 25px;
  top: 20px;
}
.Transfer .TransferBox i
{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 5px;
  border-radius: 6px;
  color: var(--subMain-color);
}
.Transfer .TransferBox .Transfer_name
{
  position: absolute;
  width: 68px;
  height: 17px;
  right: 0;
  top: 5px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* Group 138 */
.Transfer .currnet 
{
  position: absolute;
  width: 184px;
  height: 38px;
  left: 25px;
  top: 90px;
}

/* Current Email */
.Transfer .currnet .Currnet_Email
{
  position: absolute;
  width: 76px;
  height: 15px;
  left: 0px;
  top: -15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.6;
}

/* mohmadailsia@emaill.com */
.Transfer .currnet .email
{
  position: absolute;
  width: 184px;
  height: 19px;
  left: 0px;
  top: 0px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

/* Group 137 */
.Transfer .Transfer_btn
{
  position: absolute;
  width: 135px;
  height: 48px;
  right: 15px;
  top: 60px;
  background-color: #202342;
  color:var(--subMain-color);
  outline: none;
  border-radius: 6px;
  border: none;
  transition: background-color 0.5s , color 0.5s;
  cursor: pointer;
}

.Transfer .Transfer_btn:hover
{
  background-color:var(--subMain-color);
  color: #fff;
}

.Transfer .Transfer_btn i 
{
  margin-left: 10px;
}

/* Group 141 */
.Download
{
  position: absolute;
  width: 385px;
  height: 172px;
  left: 929px;
  top: 701px;
  background: var(--main-color);
  border-radius: 8px;
}

/* Rectangle 78 */
.Download .box_icon
{
  position: absolute;
  width: 124px;
  height: 124px;
  left: 20px;
  top: 20px;
  border: 1px solid #323662;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Laptop */
.Download .box_icon i
{
  position: absolute;
  width: 100px;
  height: 58px;
  left: 15px;
  top: 15px;
  color: #bcbcbc;
}

/* Desktop App */
.Download .box_icon .Destop_App
{
  position: absolute;
  width: 85px;
  height: 17px;
  left: 30px;
  top: 95px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* Group 101 */
/* Group 101 */

.Download .mac
{
  position: absolute;
  width: 210px;
  height: 42px;
  left: 153px;
  top: 40px;
  border-radius: 6px;
  background-color: var(--subMain-color);
}

/* Apple_logo_black */
.Download .mac i 
{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 12px;
  color: #bcbcbc;
}

/* Download for MacOS */
.Download .mac span 
{
  position: absolute;
  width: 139px;
  height: 17px;
  left: 53px;
  top: 13px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* Group 100 */
.Download .windows
{
  position: absolute;
  width: 210px;
  height: 42px;
  left: 153px;
  top: 100px;
  border-radius: 6px;
  background-color: var(--subMain-color);
}

/* Windows_logo_-_2012 */
.Download .windows i
{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 12px;
  color: #bcbcbc;
}

/* Download for Windows */
.Download .windows span
{
  position: absolute;
  width: 139px;
  height: 17px;
  left: 53px;
  top: 13px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* alarm 2 */
.Noti > i
{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 18px;
  color: #949494;
}

/* Ellipse 14 */
.Noti > i:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 30px;
    top: -23px;
    border-radius: 50%;
    background: #FE7448;
}

.Name img
{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

/* mohmad gamal */
.Name h3 {
    position: absolute;
    width: 89px;
    height: 17px;
    left: 50px;
    top: -10px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

/* anthony2142@email.com */
.Name p 
{
  position: absolute;
  width: 135px;
  height: 14px;
  left: 50px;
  top:10px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.6;
}

/* carbon:chevron-down */
.Name i {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 185px;
  top: 13px;
  color: #fff;
}

/* Rectangle 39 */
.ProductInfo .NavBar .date
{
  position: absolute;
  width: 116px;
  height: 48px;
  background: var(--main-color);
  line-height: 48px;
  padding-left: 10px;
  border-radius: 8px 0px 0px 8px;
  color: #fff;
}

/* DATE */
.ProductInfo .NavBar .date span
{
  position: absolute;
  width: 40px;
  height: 17px;
  left: 15px;
  top: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

/* carbon:chevron-sort */
.ProductInfo .NavBar .date .icon
{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 57px;
  top: 5px;
}

/* Vector */
.ProductInfo .NavBar .date .icon i[class="fa fa-angle-up"]
{
  position: absolute;
  left: 28.12%;
  right: 28.12%;
  top: 12.5%;
  bottom: 61.22%;
  color: #FFFFFF;
}

/* Vector */
.ProductInfo .NavBar .date .icon i[class="fa fa-angle-down"]
{
  position: absolute;
  left: 28.12%;
  right: 28.12%;
  top: 61.22%;
  bottom: 12.5%;
  color: #FFFFFF;
}

/* Group 11 */
.ProductInfo .NavBar .product
{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 126px;
    top: 0px;
    background: var(--main-color);
}

.ProductInfo .NavBar .product span
{
  position: absolute;
  width: 40px;
  height: 17px;
  left: 15px;
  top: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.ProductInfo .NavBar .size
{
  position: absolute;
  width: 111px;
  height: 48px;
  left: 326px;
  top: 0px;
  background: var(--main-color);
}

.ProductInfo .NavBar .size span
{
  position: absolute;
  width: 72px;
  height: 17px;
  left: 15px;
  top: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

/* Group 12 */
.ProductInfo .NavBar .website 
{
  position: absolute;
  width: 190px;
  height: 48px;
  left: 437px;
  top: 0px;
  background: var(--main-color);
}

.ProductInfo .NavBar .website span
{
  position: absolute;
  width: 72px;
  height: 17px;
  left: 15px;
  top: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

/* Group 13 */
.ProductInfo .NavBar .price
{
  position: absolute;
  width: 93px;
  height: 48px;
  left: 627px;
  top: 0;
  background: var(--main-color);
}

.ProductInfo .NavBar .price span
{
  position: absolute;
  width: 72px;
  height: 17px;
  left: 15px;
  top: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

/* Group 14 */
.ProductInfo .NavBar .status
{
  position: absolute;
  width: 107px;
  height: 48px;
  left: 719px;
  top: 0;
  background: var(--main-color);
  border-radius: 0px 8px 8px 0px;
}

.ProductInfo .NavBar .status span
{
  position: absolute;
  width: 72px;
  height: 17px;
  left: 15px;
  top: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.ProductInfo .ListProduct
{
  margin-top: 70px;
  display: inline-block;
}

.ProductInfo .ListProduct .infoProducts 
{
  border: none;
  border-bottom: 1px solid #655e5e;
  position: relative;
  height: 28px;
  width: 826px;
  border-bottom: 1px solid #7e7676;
}

.ProductInfo .ListProduct .infoProducts:not(:first-child)
{
  margin-top: 30px;
}

.ProductInfo .ListProduct .infoProducts span
{
  display: block;
}


/* 22 Feb 2021 */
.ProductInfo .ListProduct .infoProducts .date
{
  position: absolute;
  width: 79px;
  height: 17px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* Jordan 11 Retro Jubilee */
.ProductInfo .ListProduct .infoProducts .name
{
  position: absolute;
  width: 214px;
  height: 17px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 140px;
}

.ProductInfo .ListProduct .infoProducts .rate
{
  position: absolute;
  width: 214px;
  height: 17px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 340px;
}

.ProductInfo .ListProduct .infoProducts .Footlocker
{
  position: absolute;
  width: 214px;
  height: 17px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 450px;
}

.ProductInfo .ListProduct .infoProducts .price
{
  position: absolute;
  width: 214px;
  height: 17px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 642px;
}

.ProductInfo .ListProduct .infoProducts .state
{
  position: absolute;
  width: 47px;
  height: 17px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 3px 5px;
  left: 735px;
  text-align: center;
  background-color: #284454;
  color: #00ff94;
}

.ProductInfo .ListProduct .infoProducts .state.fail
{
  width: 25px;
  background-color: #6d4451;
  color: #fe7448;
}

/* Rectangle 74 */
.ProductInfo .Overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000000;
  opacity: 0.4;
}

.ProductInfo .Overlay.hide
{
  visibility: hidden;
}

/* Group 119 */
.ProductInfo .SendEmail
{
  position: absolute;
  width: 521px;
  height: 248px;
  left: 410px;
  top: -338px;
  -webkit-transition: top .4s;
  -moz-transition: top .4s;
  -o-transition: top .4s;
  transition: top .4s;
  background-color: var(--main-color);
  border-radius: 6px;
}

.ProductInfo .SendEmail.anim
{
  top: 338px;
}

/* Rectangle 52 */
.ProductInfo .SendEmail .boxForm
{
  position: absolute;
  width: 521px;
  height: 248px;
  left: 0;
  top: 0;
  background: #2D325A;
  border-radius: 12px;
}

/* Transfer */
.ProductInfo .SendEmail .boxForm h2 {
  position: absolute;
  width: 90px;
  height: 29px;
  left: 10px;
  top:7px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

/* Group 117 */
.ProductInfo .SendEmail .boxForm form .boxInput {
  position: absolute;
  width: 473px;
  height: 67px;
  left: 15px;
  top: 100px;
}

/* Transfer to */
.ProductInfo .SendEmail .boxForm form .boxInput label
{
  position: absolute;
  width: 60px;
  height: 15px;
  left: 0px;
  top: -15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

/* Rectangle 50 */
.ProductInfo .SendEmail .boxForm form .boxInput input
{
  position: absolute;
  width: 473px;
  height: 48px;
  left: 0px;
  top: 5px;
  background: #252A4B;
  border-radius: 4px;
  border: none;
  color: #fff;
}

/* Enter the email address */
.ProductInfo .SendEmail .boxForm form .boxInput input::placeholder
{
  position: absolute;
  left: 10px;
  top: 15px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4); 
}

.ProductInfo .SendEmail .boxForm form .boxInput input:focus::placeholder
{
  opacity: 0;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

/* Rectangle 75 */
.ProductInfo .SendEmail .boxForm form .boxButton {
  position: absolute;
  width: 521px;
  height: 80px;
  left: 0px;
  top: 168px;
  background: #292D52;
  border-radius: 0px 0px 12px 12px;
}

.ProductInfo .SendEmail .boxForm form .boxButton button
{
  opacity: 0.5;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  border:none;
  outline: none;
}

.ProductInfo .SendEmail .boxForm form .boxButton button:hover
{
  opacity: 1;
}

/* Group 118 */
.ProductInfo .SendEmail .boxForm form .boxButton .Cancel {
  position: absolute;
  width: 135px;
  height: 48px;
  right: 190px;
  top: 20px;
  background: #252A4B;
  color: #fff;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}

/* Group 37 */
.ProductInfo .SendEmail .boxForm form .boxButton .Send {
  position: absolute;
  width: 135px;
  height: 48px;
  right: 30px;
  top: 20px;
  background: var(--subMain-color);
  border:none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* Group 120 */
.ProductInfo .ListEmail 
{
  position: absolute;
  width: 431px;
  height: 350px;
  left: 410px;
  top: 338px;
  background-color: var(--main-color);
  border-radius: 6px;
}

/* Rectangle 52 */
.ProductInfo .ListEmail .boxList
{
  position: absolute;
  width: 431px;
  height: 350px;
  left: 0;
  top: 0;
  background: #2D325A;
  border-radius: 12px;  
}

/* carbon:close */
.ProductInfo .ListEmail .boxList .fa-times {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  top: 15px;
  color: #fff;
  cursor: pointer;
}

/* Group 78 */
.ProductInfo .ListEmail .boxList .boxIcon {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 190px;
  top: 65px;
  background-color: rgb(34 151 81 / 20%);
  border-radius: 50%;
  text-align: center;
  line-height: 64px;
}

.ProductInfo .ListEmail .boxList .boxIcon i
{
  color: #00ff94;
}

/* Confirmation Email Sent */
.ProductInfo .ListEmail .boxList .Confirmation {
  position: absolute;
  width: 202px;
  height: 22px;
  right: 110px;
  top: 140px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.ProductInfo .ListEmail .boxList .sendResult
{
  position: absolute;
  width: 335px;
  height: 51px;
  right: 45px;
  top: 190px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.ProductInfo .ListEmail .boxList .sendResult a
{
  color: #00ff94;
  pointer-events: none;
}

/* Didn’t get a confirmation email? */
.ProductInfo .ListEmail .boxList .notConfirmation {
  position: absolute;
  width: 301px;
  height: 14px;
  right: 65px;
  top: 260px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
}

/* Check your spam or Send Again */
.ProductInfo .ListEmail .boxList .checkSpam
{
  position: absolute;
  width: 301px;
  height: 15px;
  right: 65px;
  top: 280px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.ProductInfo .ListEmail .boxList .checkSpam .SendAgain
{
  color: #00ff94;
  background-color: transparent;
  border:none;
  cursor: pointer;
}